#container{
	width:1100px;
	height:1100px;
	float:left;
	margin:auto;
}

#container div{
	border:1px solid black;
	width: 40px;
	height: 40px;
	float: left;
}

.blue{
	background-color: lightblue;	
}

.green{
	background-color: darkgreen;	
}