#contenedor{
    position: relative;
    margin: 0 auto;
    padding: 10px;
    width: 700px;
    height: 800px;
}

#controles{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

#comenzar {
    float: left;
    margin-left: 25px;
    display: block;
}

#arbol{
    position: relative;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 700px;
}

#juego{
    position: relative;
    width: 600px;
    height: 700px;
    margin: 0 auto;
    top: 10px;
    background-color: white;    
}

.bolita{
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    top: 0px;
    z-index:3;
    left: 300px;
}