body{
	background-color: white;
	width: 99%;
	height: 99%;
}

#nubes{
	width: 98%;
	height: 180px;
	position: absolute;
	top: 0px;
	background-image: url(../img/nube3.png);
	background-repeat: repeat;
}

#contenedor{
    position: relative;
    margin: 350px;
    margin-left: 10px;
    margin-right: 10px;
    width: 99%;
    height: 97%;
}

.coche{
	width:310px;
	height:130px;
	position:absolute;	
	background-repeat:no-repeat;
	margin-top: 110px;
	background-image:url(../img/coche.png);
}

#carril{
	width:99%;
	height:330px;
	position:absolute;	
	background-repeat:no-repeat;
	background-image:url(../img/carril.jpg);
}

#semaforo{
	width: 100px;
	height: 230px;
	position: absolute;
	background-repeat: no-repeat;
	margin-left: 510px;
	background-image: url(../img/semaforo.png);
	top: 120px;
}


#humano{
	width: 50px;
	height: 50px;
	position: absolute;
	background-repeat: 	repeat;
	margin-left: 1100px;
	background-image: url(../img/humano1.png);
	top: 120px;
}